@charset "UTF-8";

/* Propriedades que se aplicam a todos os elementos da página. */
* {
	/* Remove a margem externa de todos os lados do elemento. */
	margin: 0;

	/* Remove o espaçamento interno de todos os lados do elemento. */
	padding: 0;

	/* Inclui o preenchimento e a borda na largura e altura. */
	box-sizing: border-box;
}

body {
	/* Exibição flexível.                          */
	/* Torna o elemento um flex container          */
	/* e os seus elementos internos em flex-itens. */
	display: flex;

	/* Quebra de linha quando os itens não couberem na largura da tela. */
	flex-wrap: wrap;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 100vw;

	/* Margem de todos os lados. */
	margin: 1px;
}

/* Formatação comum entre os elementos. */
header, nav, main, aside, footer {
	/* Cor do fundo. */
	background: #002121;
  	color: white;

	/* https://color.adobe.com/pt/create/color-contrast-analyzer 	*/
	/* Exibição flexível.                            		*/
	/* Torna o elemento um flex container          			*/
	/* e os seus elementos internos em flex-itens. 			*/
	display: flex;

	/* Margem externa de todos os lados. */
	margin: 1px;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 100vw;
}

/* Seletores para formatação individual. */

header {
	/* Altura do elemento. */
  	color: white;
	height: 100px;
}

header #logo {
	/* Exibição flexível.                          */
	/* Torna o elemento um flex container          */
	/* e os seus elementos internos em flex-itens. */
	display: flex;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 0 1 200px;

	/* Cor do fundo. */
	background: #c9c9c9;
  	color: white;

	/* Alinha os itens na vertical. */
	justify-content: center;

	/* Alinha os itens na horizontal. */
	align-items: center;
}

#openMenu, #closeMenu {
	/* Remove a borda. */
	border: none;
  	color: white;

	/* Remove a cor de fundo. */
	background: none;

	/* Tamanho da fonte. */
	font-size: 30px;

	/* Espessura da forte. */
	font-weight: bold;

	/* Margem ao redor do elemento              */
	/* (superior, direito, inferior e esquerdo) */
	padding: 0px 5px 0px 5px;

	/* Muda o cursor do mouse para ponteiro.*/
	cursor: pointer;

	/* Oculta o elemento. */
	display: none;
}

nav {
	/* Alinha os itens na vertical. */
	justify-content: center;
  	color: white;

	/* Alinha os itens na horizontal. */
	/*align-items: right;

	/* Altura do elemento. */
	height: 100px;
}

nav a {
	/* Margem de todos os lados. */
	margin: 3%;
	font-size: 15pt;
  	color: white;

}

aside {
	/* Altura do elemento. */
	height: 100px;
  	color: white;

}

footer {
	/* Altura do elemento. */
	height: 100px;
  	color: white;
	justify-content: center;
}

a {
	/* Remove a decoração padrão do elemento. */
	text-decoration: none;

	/* Definir a cor da fonte para o padrão do elemento pai. */
	color: inherit;
}

