@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100vw;
	margin: 3px;
}

header, nav, main, aside, footer {
	display: flex;
	margin: 3px;
	flex: 1 1 100vw;
}

header {
	background-color: Blue;
	height: 100px;
}

header #logo {
	background: Cyan;
	display: flex;
	flex: 0 1 200px;
	justify-content: center;
	align-items: center;
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
}

nav {
	background-color: black;
	justify-content: center;
	align-items: center;
	height: 100px;
}

nav a {
	color: white;
	margin: 3%;
	font-size: 15pt;
}

main {
    	background: 
        linear-gradient(to bottom, transparent 0%, #000e 50%), 
        linear-gradient(to right, #f00c 50%, #00fc 100%),
        url(https://unsplash.it/100/100);
	height: calc(100vh - 436px);
}

aside {
	background-color: Salmon;
	height: 100px;
}

footer {
	background-color: Tan;
	height: 100px;
}

a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	nav {
		position: fixed;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		justify-content: center;
		align-items: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	main {
		height: calc(100vh - 330px);
	}
}
